**/*.svg
**/*.woff
**/*.snap
package.json
package-lock.json
/dist
/static
.gitignore
.stylelintignore
.eslintignore
.prettierignore
*.png
*.jpg
*.toml
.editorconfig
.eslintcache
.history
favicon.icon
test.jsontest.http
yarn.lock
/node_modules
eslint-result.xml
/testReport
